*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    height: 6rem;
    border-bottom: 1px solid #ccc;
}
.header p{
    font-size: 30px;
    font-weight: bold;
    color: #57e957;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
li a{
    text-decoration: none;
    color: #333;
    margin-left: 30px;
}
li a:hover{
    color: #57e957;
}
.container{
    display: flex;
    margin: 3rem 150px;
}
.cart{
    width: 65%;
    background-color: #f2f2f2;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 30px 0;
}
.table{
    width: 100%;
    padding: 10px;
    text-align: center;
}
.table-head{
    color: white;
    background-color: #57e957;
}
.head-img{
    text-align: left;
    padding: 7px;
}
.summary{
    background-color: #f2f2f2;
    width: 35%;
    margin-left: 20px;
}
.detail{
    margin: 10px 0;
    padding: 0 10px;
    align-items: center;
    background-color: #57e957;
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

input{
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    margin: 15px 0;
    padding: 7px;
}
button{
    border: none;
    background-color: #57e957;
    padding: 8px 30px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 15px;
}
.checkout{
    width: 100%;
    background-color: #57e957;
}
button:hover, .checkout:hover{
    background-color: #333;
}
.img-box{
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #57e957;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.bxs-trash-alt{
    color: #57e957;
}
.bxs-trash-alt:hover{
    color: #333;
}
 