
				
			.image-card {
				width: 200px;
				height: auto;
				display: inline-block;
 			 }
  			.image-card img {
				max-width: 100%;
				height: auto; 
			}
			.image-cards-container{
				display: flex;
				flex-wrap: wrap;
				margin:10px;
			}
			.container {
				margin: 20px auto;
				max-width: 320px;
			  }
			  .card {
				border-radius: 8px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				overflow: hidden;
			  }
			  .card-img-top {
				width: 100%;
				height: auto;
				border-radius: 8px 8px 0 0;
			  }
			  .card-body {
				padding: 20px;
			  }
			  .card-title {
				margin: 0;
				font-size: 18px;
				font-weight: bold;
			  }
			  .card-text {
				margin: 10px 0;
				font-size: 14px;
				color: #777;
			  }
			  .price {
				margin: 10px 0;
				font-size: 20px;
				font-weight: bold;
				display: flex;
				align-items: center;
			  }
			  .price .star {
				color: #ffd700; /* Yellow color */
				margin-right: 5px; /* Adjust spacing between stars */
			  }
			  .btn-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
			  }
			  .btn {
				flex: 1;
				margin-right: 5px; /* Adjust as needed */
				padding: 10px;
				text-align: center;
				text-decoration: none;
				color: #fff;
				background-color: #333;
				border: none;
				border-radius: 8px;
				font-size: 16px;
				cursor: pointer;
			  }
			  .btn:last-child {
				margin-right: 0;
			  }
			  .btn:hover {
				background-color: #555;
			  }
  
			