*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background:rgb(209, 228, 222);
    height: 80px;
    width:100%;
    z-index: 1;
    position:fixed;
    top:0;
    left:0;
}
label.logo{
    color:black;
    font-size:35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
    overflow: hidden;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:black;
    font-size: 17px;
    border-radius: 3px;
    padding: 7px 13px;

    text-transform: uppercase;
}

a.active,a:hover{
    background: rgb(72, 253, 81);
    transition: .5s;
}

@media screen and (max-width:600px){
    .navbar li{
        float:none;
    }
}






.menu-btn{
    font-size: 20px;
}
/*.content{
    padding-top: 85px;
}
*/
.sidebar{
    position:sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    font-size: 18pxpx;
    height: 100vh;
    padding: 0 1.7rem;
    color: #0e1612;
    overflow: hidden;
    transition: all 0.55s linear;
    background:rgb(24, 23, 23);
}
.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}
.logo{
    height: 80px;
    padding: 16px;
}
.menu{
    height: 86%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active{
    background: rgba(0, 0, 0, 0.539);
}
.menu a{
    color: #f1e8e8;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow: hidden;
}
.menu a i{
    font-size: 0.8rem;
}

.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.main{
    display:flex;
    flex-wrap: wrap;
}
