* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}


nav {
  width: 100%;
  height: 75px;
  background-color: #ccc;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow */
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.logo span {
  color: #57e957;
}

.menu {
  width: 50%; /* Adjusted width */
  display: flex;
  justify-content: flex-end; /* Adjusted alignment */
  list-style: none;
  margin-right: 50px; /* Adjusted margin */
}

.menu li {
  margin-left: 20px; /* Adjusted margin */
}

.menu li i {
  font-size: 25px;
  font-weight: 400;
}

.menu li i:hover {
  color: #57e957;
}

.menu li a {
  font-size: 20px;
  color: #111;
  text-decoration: none;
  transition: 0.3s ease;
}

.menu li a:hover {
  color: #57e957;
}

.search {
  position: relative;
  width: 300px; /* Adjusted width */
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%; /* Adjusted width */
  height: 40px;
  border-radius: 40px;
  padding: 0 20px; /* Adjusted padding */
  font-size: 18px;
  outline: none;
  border: 1px solid silver;
}

.search input:hover {
  border: 1px solid #57e957;
}
