@import url("https://fonts.googleapis.com/css2?famiy=Poppins:wght@300;400;600;800&display=swap");
* {
    --fw3: 300px;
    background-color: transparent;
    /* margin: 0;
    padding:10px 15px; */
}

.fashion{
    white-space: nowrap;
    text-align:left;
    font-family: 'Trebuchet MS';
    font-weight: 300px; ;
    float: left;

}

.p{
    text-decoration-color:orangered;
}


.fashion img{
    width: 160px;
    height: 276px;
    transition: all .40s;
    object-fit: contain;
    
}
.fashion img:hover{
    transform: scale(0.8);
}
.fashion{
    display: inline-block;
    margin-right: 30px;

}
.rating{
    color: orange;
}
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.container{
    display: flex;
    flex-direction: row;
}
.category{
    padding: 10px;
}
.container{
    display: flex;
    align-items:center;
    justify-content: left;
    
    
}
.search-bar{
    width: 700px;
    /* max-width: 700px; */
    /* background: rgba(156, 79, 79, 0.2); */
    background: pink;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    border-bottom: 10px;
    border-top: 10px;
    margin-left: 30px;
}
#srch-icon{
    margin-right: 50px
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px;
    font-size: 20px;
    color:black ;
}
::placeholder{
    color:gray;
    text-align: center;
    font-family:'Trebuchet MS' ;
}

#srch{
    border: none;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background:gray;
}
.cart{
    margin-left: 10px;
    margin-top: 10px;
}
nav{
    padding: 10px 0;
    display: flex;
    background-color: aliceblue;
    /* position: fixed; */
    

   
    
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 10px 15px;
    font-family:  'Trebuchet MS';
    
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons ul {
    list-style-type: none;
    padding: 0;
}

.buttons ul li {
    display: inline-block;
    margin: 0 10px; /* Adjust the margin as per your preference */
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    color:black;
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    background-color: rgb(25, 224, 25);
    transition: 0.5s;
}
.btn:hover{
    border-top-right-radius: 30px;
}
.button .btn {
    padding: 0 0;
    text-align: center;
}

