.electronics{
    white-space: nowrap;
    text-align: center;
    font-family: 'Trebuchet MS';
    font-weight: lighter;
    float: left;

}

.electronics img{
    width: 182px;
    height: 276px;
    transition: all .40s;
    object-fit: contain;

    
}
.electronics img:hover{
    transform: scale(0.8);
}
.electronics{
    display: inline-block;
    margin-right: 30px;

}
.rating{
    color: orange;
/* }
.electronics-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
}

 .electronics {
    text-align: center;
    margin-bottom: 20px; /* Add spacing between each product */
} 

.product-info {
    margin-top: 10px;
}

.add-to-cart {
    background-color:  #57e957;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
 

