
#sec1{
    
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url("webbg.jpg");
    background-size: no-repeat;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width:85%;
    margin:auto;
}
nav{
    height: 80px;
}
nav h1{
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color: lightblue;
}
nav u1{
    float: right;
    line-height: 80px; 
}
nav u1 li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}
nav u1 li a{
    color: #4caf50;
    text-transform: uppercase ;
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 8px;
}
nav u1 li a:hover{
    background-color: white;
    transition: 0.5s ease;
}
nav u1 li .active{
    background-color:white;
}
.article{
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(8vh);
}
.article h1{
    font-size: 35px;
    color: white;
    letter-spacing: 1.5px;
    font-size: 800;
    margin-bottom: 25px;
}
.article p{
    font-size: 18px;
    color: gainsboro;
    margin-bottom: 5px;
}
.article .btn{
    color: yellow;
    padding: 12px 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: black;
}
#rbtn{
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}












