{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="#">
    <title>Bizconect</title>
</head>
<body>
    <div style="width: 100%; overflow: hidden;">
        <div style="display: flex; width: 200%; transition: 0.5s;">
          <div style="width: 50%;">
            <img src="image1.jpg" style="width: 100%; height: auto;">
            <p style="text-align: center;">Image 1</p>
          </div>
          <div style="width: 50%;">
            <img src="image2.jpg" style="width: 100%; height: auto;">
            <p style="text-align: center;">Image 2</p>
          </div>
          <div style="width: 50%;">
            <img src="image3.jpg" style="width: 100%; height: auto;">
            <p style="text-align: center;">Image 3</p>
          </div>
          <div style="width: 50%;">
            <img src="image4.jpg" style="width: 100%; height: auto;">
            <p style="text-align: center;">Image 4</p>
          </div>
        </div>
        <button style="position: absolute; top: 50%; left: 0; transform: translateY(-50%); background-color: transparent; border: none; font-size: 2rem; color: #333; cursor: pointer;" onclick="moveLeft()">&#10094;</button>
        <button style="position: absolute; top: 50%; right: 0; transform: translateY(-50%); background-color: transparent; border: none; font-size: 2rem; color: #333; cursor: pointer;" onclick="moveRight()">&#10095;</button>
      </div>
      
      <script>
        var currentPos = 0;
      
        function moveLeft() {
          currentPos -= 50;
          if (currentPos < -100) {
            currentPos = 0;
          }
          document.querySelector("div > div").style.transform = "translate(" + currentPos + "%)";
        }
      
        function moveRight() {
          currentPos += 50;
          if (currentPos > 0) {
            currentPos = -100;
          }
          document.querySelector("div > div").style.transform = "translate(" + currentPos + "%)";
        }
      </script>
</body>
</html>