<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bizconect</title>
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #c8e8e9;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    color: #333;
  }

  p {
    text-align: justify;
    color: #666;
    line-height: 1.6;
  }

  .contact-info {
    margin-top: 30px;
  }

  .contact-info p {
    margin: 5px 0;
  }

  .contact-info p strong {
    color: #333;
  }

  .btn-contact {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    background-color: #28a745; /* Changed to green */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .btn-contact:hover {
    background-color: #218838; /* Darker shade of green on hover */
  }

  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
    h1 {
      font-size: 24px;
    }
  }
</style>
</head>
<body>

<div class="container">
  <h1>About Us</h1>
  <p>We are a group of five computer scientists passionate about technology and entrepreneurship. Our mission is to build innovative solutions and provide exceptional services to our clients.</p>
  <p>With years of experience in the industry, we have developed a deep understanding of various technologies and business domains. Our team is committed to delivering high-quality products and ensuring customer satisfaction.</p>
  <div class="contact-info">
    <h2>Contact Us</h2>
    <p><strong>Phone:</strong> +256 787 092 035</p>
    <p><strong>Email:</strong> info@example.com</p>
    <p><strong>Address:</strong> 123 Main Street, k'la, Ug</p>
  </div>
  <a href="{% url 'contactus' %}" class="btn-contact">Contact Us</a>
</div>


</body>
</html>
