{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'businessform.css' %}">
</head>
<body>
    <div class="container">
        <div class="title">Business Registration Form</div>
        <div class="subtitle">If you want to register your business, please fill in the form below</div>
        <form action="{% url 'business_Registration' %}" method="post">
                {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Business_Owner</span>
                    {{ form.business_owner }}
                </div>
                <div class="input-box">
                    <span class="details">Business_name</span>
                    {{ form.business_name }}
                </div> 
                <div class="input-box">
                    <span class="details">Email</span>
                    {{ form.email }}
                </div>  
                <div class="input-box">
                    <span class="details">Contact number</span>
                    {{ form.contact_number }}
                </div>  
                <div class="input-box">
                    <span class="details">Location</span>
                    {{ form.location }}
                </div> 
                <div class="input-box">
                    <span class="details">Type of Business</span>
                    <select><option value="">*Please Select*</option>
                        <option value="Health & Beauty" data-index="0">Health & Beauty</option>
                        <option value="Electronics" data-index="1">Electronics</option>
                        <option value="Fashion" data-index="2">Fashion</option>
                        <option value="Food & Groceries" data-index="3">Food & Groceries</option>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">description</span>
                    {{ form.business_description }}
                </div>
                <div class="button" >
                    <input type="submit" value="Register" style="margin-top: 80px; margin-right: 79px;">
                </div>
            </div>
        </form>
    </div>
    {% if messages %}
    <script>
        // Function to display pop-up modal
        function showModal(message) {
            alert(message);
        }
        // Show pop-up modal with the message
        showModal("{{ messages }}");
    </script>
     {% endif %}
</body>
</html>