{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bizconect</title>
    <link rel="stylesheet" href="{% static  'cart.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <p>Bizconect</p>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="{% url 'shop' %}">SHOP</a></li>
            <li><a href="#">ACCOUNT</a></li>
            <li><a href="{% url 'contactus' %}">CONTACTUS</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="cart">
            <div class="top">
                <h2>Shopping Cart</h2>

                <h2 id="itemA">{{cart|length}} items</h2>

            </div>
            <table cellspacing="0" class="table-head">
                <tr>
                    <th width="150" class="head-img">Image</th>
                    <th width="360">Name</th>
                    <th width="150">Price</th>
                    <th width="70">Delete</th>
                </tr>
            </table>
            <table>
                 
                {% for item in cart_products %}
                <tr>
                    <td width="150"><div class="img-box"><img class="img" src="{{ item.Product_image.url }}"></div></td>
                              </div>
                            </div>
                    </td>
                    <td width="360"><p style='font-size:15px;'>{{ item.Product_name}}</p></td>
                    <td width="150"><h2 style='font-size:15px; color:red;'> Ugx: {{ item.price}}</h2></td>
                    <td width="70"><button  type="button"  data-index ="{{ item.id }}"      class=" btn btn-danger  delete-product"><i class='bx bxs-trash-alt'></i></button></td>
                </tr>
                {% endfor %}
                
            </table>
            <hr>
        </div>

        <div class="summary">
            <div class="top">
                <h2>Order Summary</h2>
            </div>
            <div class="detail">

                <h2 id="itemB"> {{cart|length}} items</h2>
                <h2 id="totalA"> Ugx: {{ totals }}</h2>

            </div>
            <div style="margin-top: 30px; padding: 0 30px;">
                <h2>Shipping</h2>
                <input type="text" placeholder="standard delivery">
                <h2>Promo Code</h2>
                <input type="text" placeholder="Enter your promocode">
                <button class="first-dtn" id="promo" onclick="promo()">Apply</button>
            </div>
            <hr>
            <div class="top">
                <h2>Total</h2>
                <h2 id="toatB">UGX: {{ totals }}</h2>
            </div>
            <div style="padding: 0 10px; margin-bottom: 20px;">
                <a href="{% url 'checkout' %}"><button class="checkout" >Check out</button></a>
            </div>
        </div>
    </div>
    <script>
        $(document).on('click', '.delete-product', function(e){
            e.preventDefault();
            var productId = $(this).data('index');
            var $row = $(this).closest('tr'); // Get the closest <tr> element containing the product
            
            $.ajax({
                type: "POST",
                url: "{% url 'cart_delete' %}",
                data: {
                    product_id: productId,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: "post"
                }, 
                success: function(json){
                    // Update UI or handle success response
                    $row.remove();
                     
                    location.reload();
                    
                    
                    // Remove the row from the cart table
                    // Update other UI elements like the total price, if necessary
                },
                error: function(xhr, errmsg, err){
                    console.error("Error:", errmsg);
                }
            });
        });
        
        </script>
</body>
</html>

