<!-- category.html -->
{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bizconect</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Display Products -->
    <div class="product-list">
        {% for product in products %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{ product.Product_image.url }}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{ product.Product_name }}</h5>
                          <p class="card-text">{{ product.Product_description }}</p>
                          <p class="card-text">{{ product.Product_details }}</p>
                          <p class="card-text"><small class="text-body-secondary">Last updated recently....</small></p>
                          <div class="row jsutify-content-center">
                            <div class="col-md-2 text-body-secondary ">Qty:</div>
                              <div class="col-md-3">
                                <select class="form-select form-select-sm" id="qty-cart" >
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                </select>
                              </div>
                              </div>
                            </div>
                          <button type="button" id="add-cart" value="{{product.id }}" class="btn btn-success">Add to Cart</button>
                          <button href="{% url 'Product_details' product.id %}" class="btn btn-success">Details</button>
                          
                      </div>
                    </div>
                  </div>
        {% endfor %}
    </div>
    <script>
      //check if button is clocked
      $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'cart_add' %}",
            data: {
                product_id: $(this).val(), // Use $(this) to refer to the clicked button
                product_qty: $('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: "post"
            }, 
            success: function(json){
                // Check if the response contains the 'qty' property
                if (json.hasOwnProperty('qty')) {
                    // Update the quantity display
                    $('#cart_quantity').text(json.qty);
                } else {
                    console.error("Quantity not found in AJAX response.");
                }
            },
            error: function(xhr, errmsg, err){
                console.error("Error:", errmsg);
            }
        });
    });
        </script>
</body>
</html>
