{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static 'order.css' %}">

</head>
<body>

<div class="container">

    <form action="" method="post">
        {% csrf_token %}  
        <div class="row">

            <div class="col">

                <h3 class="title">billing address</h3>

                <div class="inputBox">
                    <span>full name :</span>
                    <input type="text" placeholder="john doe">
                </div>
                <div class="inputBox">
                    <span>email :</span>
                    <input name="email"  type="email" placeholder="example@example.com" required>
                </div>
                <div class="inputBox">
                    <span>address :</span>
                    <input type="text" placeholder="room - street - locality">
                </div>
                
                <div class="inputBox">
                    <span>city :</span>
                    <input type="text" placeholder="Kampala">
                </div>
                <div class="details">
                    <p>Order Summary</p>
                    <p>Items : {{cart|length}}</p>
                    <span>Total  cost : {{ totals }}</span>
                </div>
            </div>

            <div class="col">

                <h3 class="title">payment</h3>

                <div class="inputBox">
                    <span>cards accepted :</span>
                    <img src="{% static 'imgs/card_img.png' %}" alt="">
                </div>
                <div class="inputBox">
                    <span>name on card :</span>
                    <input name="name"   type="text" placeholder="mr. john doe" required>
                </div>
                <div class="inputBox">
                    <span>credit card number :</span>
                    <input name="card_number"  type="number" placeholder="1111-2222-3333-4444" required>
                </div>
                <div class="inputBox">
                    <span>exp month :</span>
                    <input type="text" placeholder="january">
                </div>

                <div class="flex">
                    <div class="inputBox">
                        <span>exp year :</span>
                        <input type="number" placeholder="2025">
                    </div>
                    <div class="inputBox">
                        <span>CVV :</span>
                        <input name="cvc" type="text" placeholder="123" required>
                    </div>
                </div>

            </div>
    
        </div>

        <input type="submit" value="proceed to checkout" class="submit-btn">

    </form>

</div>    
    
</body>
</html>