{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Bizconect</title>
    <link rel="stylesheet" href="{% static 'contactus.css' %}" />
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Address</div>
            <div class="text-one">Kampala, Mak</div>
            <div class="text-two">Makerere CoCIS</div>
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Phone</div>
            <div class="text-one">+256 7597 23184</div>
            <div class="text-two">+256 7870 92035</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">hermankats16@gmail.com</div>
            <div class="text-two">mcxeirols@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">Send us a message</div>
          <p>If you have any types of quries related to this website, you can send us a message from here. It's our pleasure to help you.</p>
          <form action=""method="post">
            {% csrf_token %}  
            <div class="input-box">
              <input  name="name" type="text" placeholder="Enter your name" />
            </div>
            <div class="input-box">
              <input name="email" type="text" placeholder="Enter your email" />
            </div>
            <div class="input-box message-box">
              <textarea name="message"    placeholder="Enter your message"></textarea>
            </div>
            <div class="button">
              <input type="submit" style="background-color: #57e957;" value="Send Now" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

