{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'elec.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'nav.css' %}"> -->
    <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"/>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/imgs/theme/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="{% static 'assets1/css/font-awesome.min.css' %}">
  

</head>
<body>



    <header class="header-area header-style-1 header-height-2">
       
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <span style="display: inline; color: black; text-transform: capitalize; font-weight: bold;">Biz</span><span style="display: inline; color: #57e957; text-transform: capitalize; font-weight: bold;">conect</span>  
                    </div>
                    <div class="header-right">
                        <div class="search-style-1">
                            <form action="{% url 'search' %}" method="GET">                                
                                <input type="text" name="query" placeholder="Search by category...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="#">
                                        <img class="svgInject"  src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}">
                                        <span class="pro-count blue">4</span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="{% url 'cart' %}">
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                        <span class="pro-count blue" id="cart_quantity">{{cart|length}}</span>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="#"><img src="{% static 'assets/imgs/logo/logo.png' %}" alt="Bizconect"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a  href="{% url 'shop'%}">Home & Living </a></li>
                                    <li><a  href="{% url 'customer_dash' %}">Beauty & Health</a></li>   
                                    <li><a  class="active" href="#">Electronics</a></li>
                                    <li><a href="{% url 'fashion' %}">Fashion</a></li> 
                                    <li><a href="{% url 'food&groceries' %}">Food&groceries</a></li>                                 
                                </ul>
                            </nav>
                        </div>
                    </div>
                  
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="#">
                                    <img alt="bizconect" src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="{% url 'cart' %}">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    <span class="pro-count white">{{cart|length}}</span>
                                </a>
                                                         <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>








   
    <section >
        <!-- <div class="electronics-container"> -->
            <div class="electronics">
                <img src="{% static 'imgs/blender.jpg' %}">
                <div class="product-info">
                    <p id="item1">Portable mini blender</p>
                    <p id="price1">90,000Ugx</p>
                    <div class="rating">
                        <i class="bx bx-star"></i>
                        <i class="bx bx-star"></i>
                        <i class="bx bx-star"></i>
                        <i class="bx bx-star"></i>
                        <i class="bx bxs-star-half"></i>
                    </div>
                    <button class="add-to-cart" style="border: none; border-radius: 8px;">Add to Cart</button>
                </div>
            </div>
            
        </div>
        <!-- <div class="electronics-container"> -->
            <div class="electronics">
                <img src="{% static 'imgs/bt speaker.jpg' %}">
                <div class="product-info">
                    <p id="item1">Bluetooth speaker</p>
                    <p id="price1">90,000Ugx</p>
                    <div class="rating">
                        <i class="bx bx-star"></i>
                        <i class="bx bx-star"></i>
                        <i class="bx bx-star"></i>
                        <i class="bx bx-star"></i>
                        <i class="bx bxs-star-half"></i>
                    </div>
                    <button class="add-to-cart" style="border: none; border-radius: 8px;">Add to Cart</button>
                </div>
            </div>
        </div>
        
    
        <!-- <div class="electronics-container"> -->
            <div class="electronics">
                <img src="{% static 'imgs/charger.jpg' %}">
                <div class="product-info">
                    <p id="item3">Samsung charger typeC</p>
                    <p id="price3">25,000Ugx</p>
                    <div class="rating">
                        <i class="bx bx-star"></i>
                        <i class="bx bx-star"></i>
                        <i class="bx bx-star"></i>
                        <i class="bx bx-star"></i>
                        <i class="bx bxs-star-half"></i>
                    </div>
                    <button class="add-to-cart" style="border: none; border-radius: 8px;">Add to Cart</button>
                </div>
            </div>
            <!-- <div class="electronics-container"> -->
                <div class="electronics">
                    <img src="{% static 'imgs/cooler.jpg' %}">
                    <div class="product-info">
                        <p id="item4">Portable air cooler</p>
                        <p id="price4">126,000Ugx</p>
                        <div class="rating">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <button class="add-to-cart" style="border: none; border-radius: 8px;">Add to Cart</button>
                    </div>
                </div>
            </div>
            
            <!-- <div class="electronics-container"> -->
                <div class="electronics">
                    <img src="{% static 'imgs/extention.jpg' %}">
                    <div class="product-info">
                        <p id="item5">Extention cable</p>
                        <p id="price5">7,500Ugx</p>
                        <div class="rating">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <button class="add-to-cart"style="border: none; border-radius: 8px;">Add to Cart</button>
                    </div>
                </div>
            </div>
            
            <!-- <div class="electronics-container"> -->
                <div class="electronics">
                    <img src="{% static 'imgs/flatiron.jpg' %}">
                    <div class="product-info">
                        <p id="item6">Saachi flatiron</p>
                        <p id="price6">90,000Ugx</p>
                        <div class="rating">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <button class="add-to-cart" style="border: none; border-radius: 8px;">Add to Cart</button>
                    </div>
                </div>
            </div>
            
            <!-- <div class="electronics-container"> -->
                <div class="electronics">
                    <img src="{% static 'imgs/fridge.jpg' %}">
                    <div class="product-info">
                        <p id="item7">Hisense refridgerator</p>
                        <p id="price7">3,300,000Ugx</p>
                        <div class="rating">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <button class="add-to-cart" style="border: none; border-radius: 8px;">Add to Cart</button>
                    </div>
                </div>
            </div>
            
            <!-- Repeat this structure for other products -->
            <!-- <div class="electronics-container"> -->
                <div class="electronics">
                    <img src="{% static 'imgs/keyboard.jpg' %}">
                    <div class="product-info">
                        <p id="item8">Wirless keyboard & mouse</p>
                        <p id="price8">33,000Ugx</p>
                        <div class="rating">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <button class="add-to-cart" style="border: none; border-radius: 8px;">Add to Cart</button>
                    </div>
                </div>
            </div>
            
            <!-- <div class="electronics-container"> -->
                <div class="electronics">
                    <img src="{% static 'imgs/microwave.jpg' %}">
                    <div class="product-info">
                        <p id="item9">Microwave oven</p>
                        <p id="price9">222,000Ugx</p>
                        <div class="rating">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <button class="add-to-cart" style="border: none; border-radius: 8px;">Add to Cart</button>
                    </div>
                </div>
            </div>
            
            <!-- Repeat this structure for other products -->
            
            <!-- Example: -->
            <!-- <div class="electronics-container"> -->
                <div class="electronics">
                    <img src="{% static 'imgs/pacolater.jpg' %}">
                    <div class="product-info">
                        <p id="item10">Scarlet pacolater</p>
                        <p id="price10">65,000Ugx</p>
                        <div class="rating">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <button class="add-to-cart" style="border: none; border-radius: 8px;">Add to Cart</button>
                    </div>
                </div>
            </div>

            <!-- Repeat this structure for the rest of the products -->
            <!-- <div class="electronics-container"> -->
                <div class="electronics">
                    <img src="{% static 'imgs/pods.jpg' %}">
                    <div class="product-info">
                        <p id="item11">Pink wireless earphones</p>
                        <p id="price11">35,000Ugx</p>
                        <div class="rating">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <button class="add-to-cart" style="border: none; border-radius: 8px;">Add to Cart</button>
                    </div>
                </div>
            </div>
            
            <!-- <div class="electronics-container"> -->
                <div class="electronics">
                    <img src="{% static 'imgs/preesure cooker.jpg' %}">
                    <div class="product-info">
                        <p id="item12">Hoffmans pressure cooker</p>
                        <p id="price12">250,000Ugx</p>
                        <div class="rating">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <button class="add-to-cart " style="border: none; border-radius: 8px;">Add to Cart</button>
                    </div>
                </div>
            </div>
            
            <!-- <div class="electronics-container"> -->
                <!-- <div class="electronics">
                    <img src="{% static 'imgs/rice cooker.jpg' %}">
                    <div class="product-info">
                        <p id="item13">Marabo rice cooker</p>
                        <p id="price13">90,000Ugx</p>
                        <div class="rating">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <button class="add-to-cart" style="border: none; border-radius: 8px;">Add to Cart</button>
                    </div>
                </div>
            </div>
            
            <!-- <div class="electronics-container"> -->
                <!-- <div class="electronics">
                    <img src="{% static 'imgs/toaster.jpg' %}">
                    <div class="product-info">
                        <p id="item14">Sonifer toaster</p>
                        <p id="price14">67,000Ugx</p>
                        <div class="rating">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <button class="add-to-cart"style="border: none; border-radius: 8px;">Add to Cart</button>
                    </div>
                </div>
            </div> -->
            
            <!-- <div class="electronics-container"> -->
                <!-- <div class="electronics">
                    <img src="{% static 'imgs/washing machine.jpg' %}">
                    <div class="product-info">
                        <p id="item15">Twin tab washing machine</p>
                        <p id="price15">576,000Ugx</p>
                        <div class="rating">
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bx-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <button class="add-to-cart" style="border: none; border-radius: 8px;">Add to Cart</button>
                    </div>
                </div>
            </div> -->
            

</section><script>
// JavaScript
// JavaScript
document.addEventListener("DOMContentLoaded", function() {
    var addToCartButtons = document.querySelectorAll('.add-to-cart');
    addToCartButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var productIdentifier = this.getAttribute('data-product-identifier');
            addToCart(productIdentifier);
        });
    });

    function addToCart(productIdentifier) {
        var xhr = new XMLHttpRequest();
        // Construct the URL with the product identifier
        var url = "/add-to-cart/" + productIdentifier + "/";
        xhr.open("GET", url);
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                alert(response.message);
            } else {
                var errorResponse = JSON.parse(xhr.responseText);
                alert('Error: ' + errorResponse.error);
            }
        };
        xhr.send();
    }
});

</script>
</body>
</html> 