{% load static %}
<!DOCTYPE html>
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- <link rel="stylesheet" href="{% static 'fashion.css' %}"> -->
     <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/imgs/theme/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="{% static 'assets1/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'sty.css' %}">

</head>
<body>
    <header class="header-area header-style-1 header-height-2">
       
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <span style="display: inline; color: black; text-transform: capitalize; font-weight: bold;">Biz</span><span style="display: inline; color: #57e957; text-transform: capitalize; font-weight: bold;">conect</span>  
                    </div>
                    <div class="header-right">
                        <div class="search-style-1">
                            <form action="{% url 'search' %}" method="GET">                                
                                <input type="text" name="query" placeholder="Search by category...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="#">
                                        <img class="svgInject"  src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}">
                                        <span class="pro-count blue">4</span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="{% url 'cart' %}">
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                        <span class="pro-count blue" id="cart_quantity">{{cart|length}}</span>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="#"><img src="{% static 'assets/imgs/logo/logo.png' %}" alt="Bizconect"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a  href="{% url 'shop'%}">Home & Living </a></li>
                                    <li><a  href="{% url 'customer_dash'%}">Beauty & Health</a></li>   
                                    <li><a  href="{% url 'electronics' %}">Electronics</a></li>
                                    <li><a  class="active" href="#">Fashion</a></li> 
                                    <li><a href="{% url 'food&groceries' %}">Food&groceries</a></li>                                 
                                </ul>
                            </nav>
                        </div>
                    </div>
                  
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="#">
                                    <img alt="bizconect" src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="{% url 'cart' %}">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    <span class="pro-count white">{{cart|length}}</span>
                                </a>
                                                         <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="imgs" style="margin-top: 50px;">
        <section style="display: flex; flex-wrap:wrap;">
        <div class="fashion">
            <img  src="{% static 'imgs/checked.jpg' %}">
            <p id="item1">Checked red dress</p>
            <p id="price1">100,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>      
            </div>
            <button class="add-to-cart" >Add to Cart</button>
        </div>
        <div class="fashion">
            <img  src="{% static 'imgs/dennim j.jpg' %}">
            <p id="item2">Dennim boy jacket</p>
            <p id="price2">30,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">
            <img  src="{% static 'imgs/durang.jpg' %}">
            <p id="item3">Yellow unisex durang</p>
            <p id="price3">25,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">
            <img src="{% static 'imgs/hawai b.jpg' %}">
    
            <p id="item4">Men's Hawaian shirt</p>
            <p id="price4">150,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">

                <img  src="{% static 'imgs/heels.jpg' %}">
            <p id="item5">Golden heels</p>
            <p id="price5">80,0000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">

            <img  src="{% static 'imgs/marvel.jpg' %}">
            <p id="item6">Marvel boy sweater shirt</p>
            <p id="price6">65,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">
            <img src="{% static 'imgs/men sweater.jpg' %}">
           
            <p id="item7">Black Men sweater</p>
            <p id="price7">90,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">
            <img src="{% static 'imgs/outfit1.jpg' %}">
            
            <p id="item8">Full Men Outfit</p>
            <p id="price8">150,00Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">
            <img src="{% static 'imgs/purse.jpg' %}">
    
            <p id="item9">Black purse</p>
            <p id="price9">60,000Ugx @</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">
            <img src="{% static 'imgs/white sp.jpg' %}">
            
            <p id="item10">White sweatpiece</p>
            <p id="price10">70,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">
            <img src="{% static 'imgs/high heels.jpg' %}">
            
            <p id="item11">Women High heels</p>
            <p id="price11">86,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">
            <img src="{% static 'imgs/light weight.jpg' %}">
            
            <p id="item12">Light weight shoes</p>
            <p id="price12">93000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">
            <img src="{% static 'imgs/mesh.jpg' %}">
    
            <p id="item13"> Mesh sneakers</p>
            <p id="price13">120,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">
            <img src="{% static 'imgs/pendant.jpg' %}">
            
            <p id="item14">Dragonfly pendant</p>
            <p id="price14">20,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">
            <img src="{% static 'imgs/pink hoodie.jpg' %}">
            
            <p id="item15">Girls pink hoodie</p>
            <p id="price15">55,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">
            <img src="{% static 'imgs/skinny jeans.jpg' %}">
            
            <p id="item16">Men's skinny jeans</p>
            <p id="price16">160,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">
            <img src="{% static 'imgs/sports bra.jpg' %}">
    
            <p id="item17">Blue sports bra</p>
            <p id="price17">60,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="fashion">
            <img src="{% static 'imgs/watch.jpg' %}">
    
            <p id="item18">Naviforce men's watch</p>
            <p id="price18">89,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <!-- <div class="fashion">
            <img src="{% static 'imgs/outfit2.jpg' %}">
    
            <p id="item18">Men's Outfit</p>
            <p id="price18">120,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
        </div>
        <div class="fashion">
            <img src="{% static 'imgs/outfit3.jpg' %}">
    
            <p id="item18">Men's Outfit</p>
            <p id="price18">100,000Ugx</p>
            <div class="rating">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
        </div> -->
        </section>
    </main>
        <!-- Vendor JS-->
<script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/wow.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
<script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
<script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
<script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
<!-- Template  JS -->
<script src="{% static 'assets/js/main.js?v=3.3' %}"></script>
<script src="{% static 'assets/js/shop.js?v=3.3' %}"></script></body>

</body>
</html>