{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bizconect</title>
    
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/font-awesome.min.css' %}">
    <style>
    .containa {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between;*/
    }
    
    .products {
        width: calc(33.33% - 20px); /* Adjust the width of each product item */
        margin-bottom: 30px; /* Adjust the margin between product items */
    }
    
    .products img {
        width: 100%;
    }
    
    .button-container {
        display: flex;
        justify-content: center;
    }
    
    #add-cart {
        width: 100%; /* Adjust the width of the add to cart button */
        padding: 10px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #333;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
    }
</style>
  </head>
  <body>
      <header class="header-area header-style-1 header-height-2">
         
          <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
              <div class="container">
                  <div class="header-wrap">
                      <div class="logo logo-width-1">
                          <span style="display: inline; color: black; text-transform: capitalize; font-weight: bold;">Biz</span><span style="display: inline; color: #57e957; text-transform: capitalize; font-weight: bold;">conect</span>  
                      </div>
                      <div class="header-right">
                          <div class="search-style-1">
                              <form action="{% url 'search' %}" method="GET">                                
                                  <input type="text" name="query" placeholder="Search by category...">
                              </form>
                          </div>
                          <div class="header-action-right">
                              <div class="header-action-2">
                                  <div class="header-action-icon-2">
                                      <a href="#">
                                          <img class="svgInject"  src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}">
                                          <span class="pro-count blue">4</span>
                                      </a>
                                  </div>
                                  <div class="header-action-icon-2">
                                      <a class="mini-cart-icon" href="{% url 'cart' %}">
                                              <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                          <span class="pro-count blue" id="cart_quantity">{{cart|length}}</span>
                                      </a>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="header-bottom header-bottom-bg-color sticky-bar">
              <div class="container">
                  <div class="header-wrap header-space-between position-relative">
                      <div class="logo logo-width-1 d-block d-lg-none">
                          <a href="#"><img src="{% static 'assets/imgs/logo/logo.png' %}" alt="Bizconect"></a>
                      </div>
                      <div class="header-nav d-none d-lg-flex">
                          <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                              <nav>
                                  <ul>
                                      <li><a  href="{% url 'shop'%}">Home & Living </a></li>
                                      <li><a  href="{% url 'customer_dash' %}">Beauty & Health</a></li>   
                                      <li><a  href="{% url 'electronics' %}">Electronics</a></li>
                                      <li><a href="{% url 'fashion' %}">Fashion</a></li> 
                                      <li><a class="active"  href="#">Food&groceries</a></li>                                 
                                  </ul>
                              </nav>
                          </div>
                      </div>
                    
                      <div class="header-action-right d-block d-lg-none">
                          <div class="header-action-2">
                              <div class="header-action-icon-2">
                                  <a href="#">
                                      <img alt="bizconect" src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}">
                                      <span class="pro-count white">4</span>
                                  </a>
                              </div>
                              <div class="header-action-icon-2">
                                  <a class="mini-cart-icon" href="{% url 'cart' %}">
                                      <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                      <span class="pro-count white">{{cart|length}}</span>
                                  </a>
                                                           <div class="header-action-icon-2 d-block d-lg-none">
                                  <div class="burger-icon burger-icon-white">
                                      <span class="burger-icon-top"></span>
                                      <span class="burger-icon-mid"></span>
                                      <span class="burger-icon-bottom"></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>
      <main>
    <section class="available-stock">
        
    
        <div class="containa" style="display: flex; flex-wrap:wrap;">
            <div class="products">
                <div class="row">
                    <img style=width:300px src="{% static 'images/food/1 (1).jpg' %}" alt="">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                    <div class="ratting">
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Long Grain Rice</h4>
                        <p>UGX 25,000</p>
                    </div>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <button type="button" id="add-cart" value="3"    style="flex: 1; margin-right: 175px; padding: 10px; text-align: center; text-decoration: none; color: #fff; background-color: #57e957; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">ADD TO CART</button>
                    </div>
                </div>
            </div>
            
            <div class="products">
                <div class="row">
                    <img style=width:300px src="{% static 'images/food/1 (10).jpg' %}" alt="">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                    <div class="ratting">
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Presitige Margarine</h4>
                        <p>UGX 8500</p>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button type="button" id="add-cart" value="3"    style="flex: 1; margin-right: 175px; padding: 10px; text-align: center; text-decoration: none; color: #fff; background-color: #57e957; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">ADD TO CART</button>
                </div>
            </div>
            
            <div class="products">
                <div class="row">
                    <img style=width:300px src="{% static 'images/food/1 (11).jpg' %}" alt="">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                    <div class="ratting">
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Fortune Macroon</h4>
                        <p>UGX 6500</p>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button type="button" id="add-cart" value="3"    style="flex: 1; margin-right: 175px; padding: 10px; text-align: center; text-decoration: none; color: #fff; background-color: #57e957; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">ADD TO CART</button>
                </div>
            </div>
            
            <div class="products">
                <div class="row">
                    <img style=width:300px src="{% static 'images/food/1 (2).jpg' %}" alt="">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                    <div class="ratting">
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Long Grain Rice 25kgs</h4>
                        <p>UGX 300,000</p>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button type="button" id="add-cart" value="3"    style="flex: 1; margin-right: 175px; padding: 10px; text-align: center; text-decoration: none; color: #fff; background-color: #57e957; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">ADD TO CART</button>
                </div>
            </div>
            
            <div class="products">
                <div class="row">
                    <img style=width:300px src="{% static 'images/food/1 (3).jpg' %}" alt="">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                    <div class="ratting">
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Fresh Diary Milk</h4>
                        <p>UGX 75,000</p>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button type="button" id="add-cart" value="3"    style="flex: 1; margin-right: 175px; padding: 10px; text-align: center; text-decoration: none; color: #fff; background-color: #57e957; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">ADD TO CART</button>
                </div>
            </div>
            
            <div class="products">
                <div class="row">
                    <img style=width:300px src="{% static 'images/food/1 (4).jpg' %}" alt="">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                    <div class="ratting">
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Kakira sugar 50kg</h4>
                        <p>UGX 275,000</p>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button type="button" id="add-cart" value="3"    style="flex: 1; margin-right: 175px; padding: 10px; text-align: center; text-decoration: none; color: #fff; background-color: #57e957; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">ADD TO CART</button>
                </div>
            </div>
            
            <div class="products">
                <div class="row">
                    <img style=width:300px src="{% static 'images/food/1 (5).jpg' %}" alt="">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                    <div class="ratting">
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Masavu beans</h4>
                        <p>UGX 5,000 per kg</p>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button type="button" id="add-cart" value="3"    style="flex: 1; margin-right: 175px; padding: 10px; text-align: center; text-decoration: none; color: #fff; background-color: #57e957; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">ADD TO CART</button>
                </div>
            </div>
            
            <div class="products">
                <div class="row">
                    <img style=width:300px src="{% static 'images/food/1 (6).jpg' %}" alt="">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                    <div class="ratting">
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Nambaale beans</h4>
                        <p>UGX 4500 per kg</p>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button type="button" id="add-cart" value="3"    style="flex: 1; margin-right: 175px; padding: 10px; text-align: center; text-decoration: none; color: #fff; background-color: #57e957; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">ADD TO CART</button>
                </div>
            </div>
            
            <div class="products">
                <div class="row">
                    <img style=width:300px src="{% static 'images/food/1 (7).jpg' %}" alt="">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                    <div class="ratting">
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Basimat Rice</h4>
                        <p>UGX 10,000 per kg</p>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button type="button" id="add-cart" value="3"    style="flex: 1; margin-right: 175px; padding: 10px; text-align: center; text-decoration: none; color: #fff; background-color: #57e957; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">ADD TO CART</button>
                </div>
            </div>
            
            <div class="products">
                <div class="row">
                    <img style=width:300px src="{% static 'images/food/1 (8).jpg' %}" alt="">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                    <div class="ratting">
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Popcorn Maize seeds</h4>
                        <p>UGX 4,000 per kg</p>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button type="button" id="add-cart" value="3"    style="flex: 1; margin-right: 175px; padding: 10px; text-align: center; text-decoration: none; color: #fff; background-color: #57e957; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">ADD TO CART</button>
                </div>
            </div>
             
            <div class="products">
                <div class="row">
                    <img style=width:300px src="{% static 'images/food/1 (9).jpg' %}" alt="">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                    <div class="ratting">
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Supreme wheat flour</h4>
                        <p>UGX 8500</p>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button type="button" id="add-cart" value="3"    style="flex: 1; margin-right: 175px; padding: 10px; text-align: center; text-decoration: none; color: #fff; background-color: #57e957; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">ADD TO CART</button>
                </div>
            </div>
            
            <div class="products">
                <div class="row">
                    <img style=width:300px src="{% static 'images/food/1.jpg' %}" alt="">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                    <div class="ratting">
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Lato milk tin</h4>
                        <p>UGX 25,000</p>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button type="button" id="add-cart" value="3"    style="flex: 1; margin-right: 175px; padding: 10px; text-align: center; text-decoration: none; color: #fff; background-color: #57e957; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">ADD TO CART</button>
                </div>
            </div>
        
        </div>
    
     </section>
    </main>
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/wow.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
<script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
<script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
<script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
<!-- Template  JS -->
<script src="{% static 'assets/js/main.js?v=3.3' %}"></script>
<script src="{% static 'assets/js/shop.js?v=3.3' %}"></script></body>

</body>
</html>