{% load static %}
<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        
        <!-- title of site -->
        <title>Bizconect</title>

        <!-- For favicon png -->
		
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{% static 'assets1/css/font-awesome.min.css' %}">

        <!--linear icon css-->
		<link rel="stylesheet" href="{% static 'assets1/css/linearicons.css' %}">

		<!--animate.css-->
        <link rel="stylesheet" href="{% static 'assets1/css/animate.css' %}">

		<!--flaticon.css-->
        <link rel="stylesheet" href="{% static 'assets1/css/flaticon.css' %}">
		

		<!--slick.css-->
        <link rel="stylesheet" href="{% static 'assets1/css/slick.css' %}">
		<link rel="stylesheet" href="{% static 'assets1/css/slick-theme.css' %}">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{% static 'assets1/css/bootstrap.min.css' %}">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="{% static 'assets1/css/bootsnav.css' %}" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="{% static 'assets1/css/style.css' %}">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="{% static 'assets1/css/responsive.css' %}">
		
		
		
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
		<style>
			.carausel-6-columns-cover .carausel-6-columns {
				overflow: hidden;
				margin: 0 -12px;
			  }
			  
			  .carausel-6-columns-cover .carausel-6-columns .card-1 {
				margin-right: 12px;
				margin-left: 12px;
			  }
			  
			  .carausel-6-columns-cover .product-img {
				border: 1px solid #cce7d0;
			  }
			  
			  .carausel-6-columns-cover .slider-arrow {
				top: -50px;
			  }
			  
			  .carausel-6-columns-cover .slider-arrow .slider-btn.slider-next {
				right: 0;
			  }
			  
			  .carausel-6-columns-cover .slider-arrow .slider-btn.slider-prev {
				right: 40px;
				left: unset;
			  }
			  
			  .carausel-6-columns-cover.arrow-center .slider-arrow {
				top: 50%;
				-webkit-transform: translateY(-50%);
						transform: translateY(-50%);
				margin-top: -50px;
			  }
			  
			  .carausel-6-columns-cover.arrow-center .slider-arrow .slider-btn.slider-next {
				right: -30px;
			  }
			  
			  .carausel-6-columns-cover.arrow-center .slider-arrow .slider-btn.slider-prev {
				left: -30px;
			  }
			  
			  .carausel-6-columns-cover.arrow-center .slider-arrow.slider-arrow-3 {
				margin-top: 0;
			  }
			  
			  .carausel-4-columns-cover .carausel-4-columns {
				overflow: hidden;
				margin: 0 -12px;
			  }
			  
			  .carausel-4-columns-cover .carausel-4-columns .product-cart-wrap {
				margin-right: 12px;
				margin-left: 12px;
			  }
			  
			  .carausel-4-columns-cover .carausel-4-columns-arrow {
				margin-top: -100px;
			  }
			  
			  .bg-grey-10 {
				background-color: #d0f3ec;
			  }
			  
			  .home-slider .slider-arrow {
				opacity: 0;
				visibility: hidden;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			  }
			  
			  .home-slider:hover .slider-arrow {
				opacity: 1;
				visibility: visible;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			  }
			  
			  /*COMPONENTS -> CARD*/
			  .card-1 {
				position: relative;
				background: #fff;
				text-align: center;
				border: 1px solid #cce7d0;
				border-radius: 20px;
			  }
			  
			  .card-1 figure {
				overflow: hidden;
				margin: 10px;
				border-radius: 10px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
			  }
			  
			  .card-1 figure img {
				border-radius: 10px;
			  }
			  
			  .card-1 h5 {
				margin: 20px 0;
			  }
			  
			  .card-1 h5 a {
				color: #4f5d77;
			  }
			  
			  .card-1:hover a {
				color: #57e957;
			  }
			  
			.image-card {
				width: 200px;
				height: auto;
				display: inline-block;
 			 }
  			.image-card img {
				max-width: 100%;
				height: auto; 
			}
			.image-cards-container{
				display: flex;
				flex-wrap: wrap;
				margin:10px;
			}
		</style>
			
    </head>
	
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
		
		<!--header-top start -->
		<header id="header-top" class="header-top">
			<ul>
				<li>
					<div class="header-top-left">
						<ul>
							<li class="select-opt">
								
							</li>
							<li class="select-opt">
							
							</li>
							<li class="select-opt">
								
							</li>
						</ul>
					</div>
				</li>
				<li class="head-responsive-right pull-right">
					<div class="header-top-right">
						<ul>
							<li class="header-top-contact">
								cs_mak_g5/sdp
							</li>
							<li class="header-top-contact">
							<a href="{% url 'signup' %}">sign in</a>
							</li>
							<li class="header-top-contact">
								<a href="{% url 'business_Registration' %}">register business</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
					
		</header><!--/.header-top-->
		<!--header-top end -->

		<!-- top-area Start -->
		<section class="top-area">
			<div class="header-area">
				<!-- Start Navigation -->
			    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

			        <div class="container">

			            <!-- Start Header Navigation -->
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			                    <i class="fa fa-bars"></i>
			                </button>
			                <a class="navbar-brand" href="#">Biz<span>conect</span></a>

			            </div><!--/.navbar-header-->
			            <!-- End Header Navigation -->

			            <!-- Collect the nav links, forms, and other content for toggling -->
			            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
			                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
			                    <li class=" scroll active"><a href="#home">home</a></li>
								<li ><a href="{% url 'customer_dash' %}">Getstarted</a></li>
			                    <li ><a href="{% url 'contactus' %}">contactus</a></li>
								{% load custom_tags %}
						{% if user.is_authenticated %}
																{% if user|is_business_owner %}
																	<li><a href="{% url 'business_owners_dash' %}">Dashboard</a></li>
																	{% endif %}
																{% else %}
																	<li ><a href="#works">how it works</a></li>
																{% endif %}
							{% if user.is_authenticated %}
								<li ><a href="{% url 'logout' %}">Logout</a></li>
								<li><a href="{% url 'profile' %}">{{ request.user }} <i class="fa fa-user" aria-hidden="true"></i></a></li>
						{% else %} 
			                    <li ><a href="{% url 'login' %}">login</a></li>
								<li ><a href="{% url 'signup' %}">signup</a></li>
			         {% endif %}
								<li ><a href="{% url 'cart' %}">
									<i class="fa fa-cart-plus" aria-hidden="true"></i>
									<span id="cart_quantity">{{cart|length}}</span>
								</a></li>
			                </ul><!--/.nav -->
			            </div><!-- /.navbar-collapse -->
			        </div><!--/.container-->
			    </nav><!--/nav-->
			    <!-- End Navigation -->
			</div><!--/.header-area-->
		    <div class="clearfix"></div>

		</section><!-- /.top-area-->
		<!-- top-area End -->

		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">
			<div class="container">
				<div class="welcome-hero-txt">
					<h2>best place to find and explore <br> all that you need </h2>
					<p>
						Find Best products and services at convinient prices ..... think in just One click 
					</p>
				</div>
				<div class="welcome-hero-serch-box">
					<div class="welcome-hero-form">
						<div class="single-welcome-hero-form">
							<h3>available</h3>
								<input type="text" placeholder="Ex: fashion, health$beauty, electronics" />
							<div class="welcome-hero-form-icon">
								<i class="flaticon-list-with-dots"></i>
							</div>
						</div>
						<div class="single-welcome-hero-form">
							<h3>Category?</h3>
							<form action="{% url 'search' %}" method="GET">
								<input type="text" name="query" placeholder="Search by category...">
							
							<div class="welcome-hero-form-icon">
								<i class="flaticon-gps-fixed-indicator"></i>
							</div>
						</div>
					</div>
					<div class="welcome-hero-serch">
						
						<button  class="welcome-hero-btn" tpye="submit" >
							 search  <i data-feather="search"></i> 
						</button>
						<form>
					</div>
				</div>
			</div>

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->

		<!--list-topics start -->
		
		<section id="list-topics" class="list-topics">
			<div class="container">
				<div class="list-topics-content">
					<section style="display:flex; flex-direction:row; justify-content:center;">
					<ul>
						<li>
							<div class="single-list-topics-content">
								<div class="single-list-topics-icon">
									<i class="flaticon-restaurant"></i>
								</div>
								<h2><a href="{% url 'food&groceries' %}">Food&grocery</a></h2>
								<p>150 listings</p>
							</div>
						</li>
						<li>
							<div class="single-list-topics-content">
								<div class="single-list-topics-icon">
									<i class="flaticon-travel"></i>
								</div>
								<h2><a href="{% url 'fashion' %}">fashion</a></h2>
								<p>214 listings</p>
							</div>
						</li>
						<li>
							<div class="single-list-topics-content">
								<div class="single-list-topics-icon">
									<i class="flaticon-building"></i>
								</div>
								<h2><a href="{% url 'shop' %}">Home&living</a></h2>
								<p>185 listings</p>
							</div>
						</li>
						<li>
							<div class="single-list-topics-content">
								<div class="single-list-topics-icon">
									<i class="flaticon-pills"></i>
								</div>
								<h2><a href="{% url 'customer_dash'  %}">health&beauty</a></h2>
								<p>200 listings</p>
							</div>
							
						</li>
					</ul>
				</section>
				</div>
			</div><!--/.container-->
		</section><!--/.list-topics-->
		<!--list-topics end-->

		<!--works start -->
		<section id="works" class="works">
			<div class="container">
				<div class="section-header">
					<h2>how it works</h2>
					<p>Learn More about how our website works</p>
				</div><!--/.section-header-->
				<div class="works-content">
					<div  class="row"     style="display: flex;  flex-wrap:wrap; justify-content:center; ">
						<div class="col-md-4 col-sm-6">
							<div class="single-how-works" >
								<div class="single-how-works-icon">
									<i class="flaticon-networking"></i>
								</div>
								<h2><a href="#">For <span> Business Owners</span></a></h2>
								<p>
									For business  a business owner you can register your business, give details of what your business is all about 
									after then you can upload pictures...
								</p>
								{% load custom_tags %}
								{% if user.is_authenticated %}
											{% if user|is_business_owner %}
											<button href="{% url 'business_owners_dash' %}" class="welcome-hero-btn how-work-btn" >
												Dashboard
											</button>
											{% else %}
											<button class="welcome-hero-btn how-work-btn" onclick="window.location.href=' business_Registration'">
												Register business
											</button>

											
											{% endif %}
								{% else %}
											<button class="welcome-hero-btn how-work-btn" onclick="window.location.href=' business_Registration'">
												Register business
											</button>
											
								{% endif %}
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-how-works">
								<div class="single-how-works-icon">
									<i class="flaticon-location-on-road"></i>
								</div>
								<h2><a href="#">For  <span>customers</span></a></h2>
								<p>
									You can add items to your cart or wishlist then make orders..
									for a customer to be able to make apayment they will need to first sigup
								</p>
								<button class="welcome-hero-btn how-work-btn" onclick="window.location.href='customer_dash'">
									Get Started
								</button>
								
							</div>
						</div>
					</div>
				</div>
			</div><!--/.container-->
		
		</section><!--/.works-->
		
		
		<!--explore start --><section id="explore" class="explore">
    <div class="container">
        <div class="section-header">
            <button><a href="customer_dash"><h2>explore</h2></a></button>
            <p>newly uploaded products .....</p>
        </div>
        <div style="display: flex; flex-wrap: wrap;">
            {% for product in products %}
            <div style="margin: 20px; max-width: 320px;">
                <div style="border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); overflow: hidden;">
                    <img src="{{ product.Product_image.url }}" style="width: 100%; height: auto; border-radius: 8px 8px 0 0;" alt="...">
                    <div style="padding: 20px;">
                        <h4 style="margin: 0; font-size: 18px; font-weight: bold;">{{ product.Product_name }}</h4>
						<h4 style="margin: 0; font-size: 18px; font-weight: bold;">{{ product.Product_description }}</h4>
                        <p style="margin: 10px 0; font-size: 14px; color: #777;">
                            <span style="color: #ffd700;">&#9733;</span>
                            <span style="color: #ffd700;">&#9733;</span>
                            <span style="color: #ffd700;">&#9733;</span>
                            <span style="color: #ffd700;">&#9733;</span>
                            (5) 
                        </p>
                        <div style="margin: 10px 0; font-size: 20px; font-weight: bold; display: flex; align-items: center;">
                        	UGx: {{ product.price }}
                        </div>
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <button type="button" id="add-cart" value="{{ product.id }}"    style="flex: 1; margin-right: 5px; padding: 10px; text-align: center; text-decoration: none; color: #fff; background-color: #333; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">ADD TO CART</button>
                            <a href="{% url 'Product_details' product.id %}" style="flex: 1; margin-right: 0; padding: 10px; text-align: center; text-decoration: none; color: #fff; background-color:  #57e957; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--/.explore-->
		<!--subscription strat -->
		<section id="contact"  class="subscription">
			<div class="container">
				<div class="subscribe-title text-center">
					<h2>
						do you want to add your business to our site ?
					</h2>
					<p>
						we offer businesses away to connect to customers.
					</p>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="subscription-input-group">
							<form action="{% url 'signup' %}">
								<input type="email" class="subscription-input-form" placeholder="Enter your email here">
								<button class="appsLand-btn subscribe-btn" onclick="window.location.href='signup'">
									creat account
								</button>
							</form>
						</div>
					</div>	
				</div>
			</div>

		</section><!--/subscription-->	
	
		<!--subscription end -->

		<!--footer start-->
		<footer id="footer"  class="footer">
			<div class="container">
				<div class="footer-menu">
		           	<div class="row">
			           	<div class="col-sm-3">
			           		 <div class="navbar-header">
				                <a class="navbar-brand" href="index.html">Biz<span>conect</span></a>
				            </div><!--/.navbar-header-->
			           	</div>
			           	<div class="col-sm-9">
			           		<ul class="footer-menu-item">
			                    <li class="scroll"><a href="#works">how it works</a></li>
			                    <li ><a href="{% url 'review'%}">review</a></li>
			                    <li ><a href="{% url 'aboutus' %}">about us</a></li>
								{% load custom_tags %}
										{% if user.is_authenticated %}
											{% if user|is_business_owner %}
												<li><a href="{% url 'business_owners_dash' %}">Dashboard</a></li>
											{% else %}
											<li><a href="{% url 'logout' %}">Logout</a></li>
											{% endif %}
											
										{% else %}
											<li><a href="login">Login</a></li>
											<li><a href="signup">Signup</a></li>
										{% endif %}
									</ul>
			           	</div>
		           </div>
				</div>
				<div class="hm-footer-copyright">
					<div class="row">
						<div class="col-sm-5">
							<p>
								&copy;copyright: <b>cs_mak_g5</b> 

							</p>
							<p>
								We gladly welcome you to our platform! 
							</p>
						</div>
						<div class="col-sm-7">
							<div class="footer-social">
								<span><i class="fa fa-phone"> +256-704-217-816</i></span>
								<a href="#"><i class="fa fa-facebook"></i></a>	
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
					</div>
					
				</div><!--/.hm-footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer>
	    
		<!--footer end-->
		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="{% static 'assets1/js/jquery.js' %}"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
		<script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
		
		<!-- bootsnav js -->
		<script src="{% static 'assets1/js/bootsnav.js' %}"></script>

        <!--feather.min.js-->
        <script  src="{% static 'assets1/js/feather.min.js' %}"></script>

        <!-- counter js -->
		<script src="{% static 'assets1/js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'assets1/js/waypoints.min.js' %}"></script>

        <!--slick.min.js-->
        <script src="{% static 'assets1/js/slick.min.js' %}"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		      
        <!--Custom JS-->
        <script src="{% static 'assets1/js/custom.js' %}"></script>
		<script>
			//check if button is clocked
			$(document).on('click', '#add-cart', function(e){
				e.preventDefault();
				$.ajax({
					type: "POST",
					url: "{% url 'cart_add' %}",
					data: {
						product_id: $(this).val(), // Use $(this) to refer to the clicked button
						//product_qty: $('#qty-cart option:selected').text(),
						csrfmiddlewaretoken: "{{ csrf_token }}",
						action: "post" 
					}, 
					success: function(json){
						document.getElementById("cart_quantity").textContent = json.qty
						//console.log(json)
						
					},
					error: function(xhr, errmsg, err){
						console.error("Error:", errmsg);
					}
				});
			});
			
		  </script>
        
<script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/wow.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
<script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
<script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
<script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
<!-- Template  JS -->
<script src="{% static 'assets/js/main.js?v=3.3' %}"></script>
<script src="{% static 'assets/js/shop.js?v=3.3' %}"></script>
    </body>
	
</html>