
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bizconect</title>
    <link rel="stylesheet" href="{% static 'log.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script>
        // Function to display alert message
        function showAlert(message) {
            alert(message);
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="container">
            <div class="text">
                Login Form
            </div>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}     
                <div class="data">
                    <label>username</label>
                    <input type="text" name="username" placeholder="username" required />
                </div>
                <div class="data">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="password" />
                </div>
                <div class="forgot-pass">
                    <a href="{% url 'signup' %}">Forgot Password?</a>
                </div>
                <div class="btn">
                    <div class="inner"></div>
                    <button type="submit">login</button>
                </div>
                {% if error_message %}
                    <script>
                        showAlert("{{ error_message }}");
                    </script>
                {% endif %}
                <div class="signup-link">
                    Not a member? <a href="{% url 'signup' %}">Signup now</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
