<!DOCTYPE html>
<html>
<head>
	
    <style>
        body {
            background-color:#56d8e4;
            font-family: Arial;
        }
        
        .logo-form {
            position: relative;
            position: absolute;
            top: 20%;
            left: 30%;
            width: 382px;
            overflow: hidden;
            margin: 20px auto;
            padding: 80px;
            background: rgba(15, 112, 202, 0.747);
            border-radius: 10px;
            color: #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        }
        
        .logo-form h2 {
            text-align: center;
            color:  #57e957;
            padding: 20px;
        }
        
        .logo-form label {
            color:  #57e957;
            font-size: 17px;
            display: block;
            margin-bottom: 5px;
        }
        
        .logo-form input[type="file"],
        .logo-form input[type="file"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 3px;
            background-color: #333;
            color: #fff;
            margin-bottom: 20px;
        }
        
        .logo-form input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 3px;
            background-color: #277582;
            color: #fff;
            cursor: pointer;
        }
        
        .logo-form input[type="submit"]:hover {
            background-color:  #57e957;
        }
    </style>
</head>
<body>
	<div class="logo-form">
		<h2>Logo</h2>
        <form action="{% url 'logo' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.image }}
            <button type="submit">Upload Logo</button>
        </form>
        
	</div>
</body>
</html>