{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bizconect</title>
    <!-- css -->
    <!-- <link rel="stylesheet" href="{% static 'pdt.css' %}'">// there was a problem referencing the css in static files so i used inline css  -->
    <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
       
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      body {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 30px;
      }
      
      header {
        margin-bottom: 20px;
      }
      
      .product-container {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 40px;
      }
      
      /* .img-card{
          width: 40%;
      } */
      
      .img-card img {
        width: 100%;
        flex-shrink: 0;
        border-radius: 4px;
        height: 520px;
        object-fit: cover;
      }
      
      .small-Card {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 15px;
        gap: 12px;
      }
      
      .small-Card img {
        width: 104px;
        height: 104px;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .small-Card img:active {
        border: 1px solid #57e957;
      }
      
      .sm-card {
        border: 2px #57e957;
      }
      
      .product-info{
        width: 60%;
      }
      .product-info h3 {
        font-size: 32px;
        font-family: Lato;
        font-weight: 600;
        line-height: 130%;
      }
      
      .product-info h5 {
        font-size: 24px;
        font-family: Lato;
        font-weight: 500;
        line-height: 130%;
        color: #57e957;
        margin: 6px 0;
      }
      
      .product-info del {
        color: #a9a9a9;
      }
      
      .product-info p {
        color: #424551;
        margin: 15px 0;
        width: 70%;
      }  
      .quantity input {
        width: 51px;
        height: 33px;
        margin-bottom: 15px;
        padding: 6px;
      }
      
      button {
        background: #17696a;
        border-radius: 4px;
        padding: 10px 37px;
        border: none;
        color: white;
        font-weight: 600;
      }
      
      button:hover {
        background:#57e957;
        transition: ease-in 0.4s;
      }
      
      .delivery {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        color: #787a80;
        font-size: 12px;
        font-family: Lato;
        line-height: 150%;
        letter-spacing: 1px;
      }
      
      hr {
        color: #787a80;
        width: 58%;
        opacity: 0.67;
      }
      
    
      
      @media screen and (max-width: 576px) {
        .product-container{
          flex-direction: column;
        }
        .small-Card img{
          width: 80px;
        }
        .product-info{
          width: 100%;
        }
        .product-info p{
          width: 100%;
        }
        .delivery{
          width: 100%;
        }
        hr{
          width: 100%;
        }
      }
    </style>
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'assets1/css/font-awesome.min.css' %}">
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
       
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <span style="display: inline; color: black; text-transform: capitalize; font-weight: bold;">Biz</span><span style="display: inline; color: #57e957; text-transform: capitalize; font-weight: bold;">conect</span>  
                    </div>
                    <div class="header-right">
                        <div class="search-style-1">
                            <form action="{% url 'search' %}" method="GET">                                
                                <input type="text" name="query" placeholder="Search by category...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="#">
                                        <img class="svgInject"  src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}">
                                        <span class="pro-count blue">4</span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="{% url 'cart' %}">
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                        <span class="pro-count blue" id="cart_quantity">{{cart|length}}</span>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="#"><img src="{% static 'assets/imgs/logo/logo.png' %}" alt="Bizconect"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a  href="{% url 'customer_dash'%}">Home & Living </a></li>
                                    <li><a  href="{% url 'shop' %}">Beauty & Health</a></li>   
                                    <li><a  href="{% url 'electronics' %}">Electronics</a></li>
                                    <li><a href="{% url 'fashion' %}">Fashion</a></li> 
                                    <li><a href="{% url 'food&groceries' %}">Food&groceries</a></li>                                 
                                </ul>
                            </nav>
                        </div>
                    </div>
                  
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="#">
                                    <img alt="bizconect" src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="{% url 'cart' %}">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    <span class="pro-count white">{{cart|length}}</span>
                                </a>
                                                         <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <span style="display: inline; color: black; text-transform: capitalize; font-weight: bold;">Biz</span><span style="display: inline; color: #57e957; text-transform: capitalize; font-weight: bold;">conect</span>  
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="{% url 'search' %}" method="GET">
                        <input type="text" name="query" placeholder="Search for category…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
               
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <li><a  href="{% url 'shop'%}">Home & Living </a></li>
                        <li><a  href="{% url 'electronics' %}">Electronics</a></li>
                        <li><a href="{% url 'fashion' %}">Fashion</a></li>
                        <li><a href="{% url 'food&groceries' %}">Food&groceries</a></li>    
                    </div>
                    <div class="single-mobile-header-info">
                        <li><a class="active" href="#">Beauty & Health</a></li> 
                    </div>
                </div>
            </div>
        </div>
    </div>        
   
    <!-- product section -->
    <section class="product-container">
        <!-- left side -->
        <div class="img-card">
                <img src="{{ product.Product_image.url }}" alt="" id="featured-image">
                <!-- small img -->
                <div class="small-Card">
                    
                    <img src="{{ product.Product_image.url }}" alt="" class="small-Img">
                    <img src="{{ product.Product_image.url }}" alt="" class="small-Img">
                    <!-- <img src="img/small-img-3.png" alt="" class="small-Img">
                    <img src="img/image-1.png" alt="" class="small-Img"> -->
                </div>
            
        </div>
        
        <!-- Right side -->
        <div class="product-info">
            <h3>{{ product.Product_name }}</h3>
            <h5>Price: UGx: {{ product.price }}<del>$70</del></h5>
            <p>{{ product.Product_description }}</p>
            <p>{{ product.Product_details }}</p>
            

            

            <div class="quantity">
                <input type="number" value="1" min="1">
                <button type="button" id="add-cart" value="{{ product.id }}">Add to Cart</button>
            </div>

            <div>
                <p>Delivery:</p>
                <p>Free standard shipping on orders over $5 before tax, plus free returns.</p>
                <div class="delivery">
                    <p>TYPE</p> <p>HOW LONG</p> <p>HOW MUCH</p>
                </div>
                <hr>
                <div class="delivery">
                    <p>Standard delivery</p> 
                    <p>1-4 business days</p> 
                    <p>$4.50</p>
                </div>
                <hr>
                <div class="delivery">
                    <p>Express delivery</p> 
                    <p>1 business day</p> 
                    <p>$10.00</p>
              the    </div>
                <hr>
                <div class="delivery">
                    <p>Pick up in store</p> 
                    <p>1-3 business days</p> 
                    <p>Free</p>
                </div>
            </div>
        </div>
    </section>

    <!-- script tags -->
    <script src="{% static 'pdt.js' %}"></script>
    <script>
      $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        var quantity = $('.quantity input').val();  // Get the quantity input value
        $.ajax({
            type: "POST",
            url: "{% url 'cart_add' %}",
            data: {
                product_id: $(this).val(),
                product_qty: quantity,  // Send the quantity value
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: "post"
            }, 
            success: function(json){
                if (json.hasOwnProperty('qty')) {
                    $('#cart_quantity').text(json.qty);
                } else {
                    console.error("Quantity not found in AJAX response.");
                }
            },
            error: function(xhr, errmsg, err){
                console.error("Error:", errmsg);
            }
        });
    });
    
      </script>
          <!-- Vendor JS-->
<script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/wow.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
<script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
<script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
<script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
<!-- Template  JS -->
<script src="{% static 'assets/js/main.js?v=3.3' %}"></script>
<script src="{% static 'assets/js/shop.js?v=3.3' %}"></script>
		  
        
</body>
</html>