<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Profile</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #56d8e4 ;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .profile-header {
            text-align: center;
            margin-bottom: 20px;
        }

        .profile-header img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 10px;
        }

        .profile-header h2 {
            margin: 0;
            color: #333;
        }

        .profile-info {
            margin-bottom: 20px;
        }

        .profile-info p {
            margin: 5px 0;
            color: #555;
        }

        .profile-info label {
            font-weight: bold;
            color: #333;
        }

        .button-container {
            text-align: center;
        }

        .button-container button {
            padding: 10px 20px;
            background-color: #57e957;
            border: none;
            color: #fff;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .button-container button:hover {
            background-color:#57e957;      }
    </style>
</head>
<body>
    <div class="container">
        <div class="profile-header">
            <img src="https://via.placeholder.com/150" alt="Profile Picture">
            <h2>{{ request.user }}</h2>
        </div>
        <div class="profile-info">
                <h1 style="justify-content:center">User Profile</h1>
                <p><strong>Email:</strong> {{ email }}</p>
                <p><strong>Username:</strong> {{ username }}</p>
                <p><strong>First Name:</strong> {{ first_name }}</p>
                <p><strong>Last Name:</strong> {{ last_name }}</p>
        </div>
        <div class="button-container">
            <button>Edit Profile</button>
        </div>
    </div>
</body>
</html>
