
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF -8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bizconect</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}" /></head
  >
  <body>
            <div class="container">
                <div class="title">Sign Up Here</div>
                <form action="{% url 'signup' %}" method="post">
                {% csrf_token%}
                <div class="user-details">
                    <div class="input-box">
                    <span class="details">Username</span>
                    {{ form.username }} 
                    </div>
                    <div class="input-box">
                    <span class="details">First name</span>
                    {{ form.first_name }}
                    </div>
                    <div class="input-box">
                    <span class="details">Last name</span>
                    {{ form.last_name }}
                    </div>
                    <div class="input-box">
                    <span class="details">Email</span>
                    {{ form.email }}
                    </div>
                    <div class="input-box">
                    <span class="details">Password</span>
                    {{ form.password1 }}
                    </div>
                    <div class="input-box">
                    <span class="details">Confirm</span>
                    {{ form.password2 }}
                    </div>
                    {{ form.errors }}
                <div class="button">
                    <input type="submit" value="Sign Up" />
                </div>
                </form>
            </div>
            
  </body>

</html>
