{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>BizConect</title>
   <link rel="stylesheet" href="{% static 'upload.css' %}">

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div class="container">

   <div class="admin-product-form-container">

      <form id="productForm" method="post" enctype="multipart/form-data">
         {% csrf_token %}
         <h3>Add a new product</h3>
         {{ form.as_p }}
         <input type="submit" class="btn" value="Add Product">
      </form>

   </div>

   <div class="product-display">
      <table class="product-display-table" id="productTable">
         <thead>
         <tr>
            <th>Product image</th>
            <th>Product name</th>
            <th>Product price</th>
            <th>Action</th>
         </tr>
         </thead>
         <tbody>
            {% for product in products %}
               <tr>
                  <td><img src="{{ product.Product_image.url }}" height="100" alt="{{ product.Product_name }}"></td>
                  <td>{{ product.Product_name }}</td>
                  <td>${{ product.price }}</td>
                  <td>
                     <a href="#" class="btn"> <i class="fas fa-edit"></i> Edit </a>
                     <a href="#" class="btn" onclick="deleteProduct( {{ product.id }} )"> <i class="fas fa-trash"></i> Delete </a>
                  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>

</div>

<script>
   function deleteProduct(productId) {
      if (confirm("Are you sure you want to delete this product?")) {
          fetch('/delete_product/' + productId, {
             method: 'DELETE',
             headers: {
                'X-CSRFToken': '{{ csrf_token }}'
             }
          }).then(response => {
             if (response.ok) {
                 //Refresh the page or update the product list dynamically
             }
          });
      }
   }
</script>

</body>
</html>
